In [3]:
#Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report, accuracy_score, roc_curve, roc_auc_score
import pandas as pd
import os

# pip install psycopg2-binary
from dbpass import db_password
from psycopg2 import sql, connect
from matplotlib import pyplot
import matplotlib.pylab as plt
#get_ipython().run_line_magic('matplotlib', 'inline')
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 12, 4

In [4]:
try:
    # declare a new PostgreSQL connection object
    conn = connect(
        dbname = "spotifydata",
        user = "postgres",
        host = "spotifyaws.cxmgxnqnrkea.us-east-2.rds.amazonaws.com",
        port = "5432",
        password = db_password
    )

    # print the connection if successful
    print ("psycopg2 connection:", conn)

except Exception as err:
    print ("psycopg2 connect() ERROR:", err)
    conn = None

psycopg2 connection: <connection object at 0x7fe916fd2470; dsn: 'user=postgres password=xxx dbname=spotifydata host=spotifyaws.cxmgxnqnrkea.us-east-2.rds.amazonaws.com port=5432', closed: 0>

In [5]:
cu = conn.cursor()
cu.execute('SELECT * FROM join_test;')
fet = cu.fetchall()

# Extract the column names
col_names = []
for elt in cu.description:
    col_names.append(elt[0])

# Create the dataframe, passing in the list of col_names extracted from the description
df = pd.DataFrame(fet, columns=col_names)

df.head()

,track,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature,chorus_hit,sections
0,Give It To Her,0.6,0.583,9.0,-6.617,0,0.281,0.0918,0,0.0992,0.763,126.517,209053,5,39.96991,11
1,Falling,0.192,0.138,5.0,-17.135,1,0.0315,0.892,0.553,0.114,0.0757,142.187,321853,4,60.94077,17
2,Say It (Over And Over Again),0.488,0.124,3.0,-13.038,1,0.0404,0.963,0.333,0.246,0.205,66.105,255960,4,59.36904,10
3,I Live For Your Love,0.327,0.361,6.0,-9.431,1,0.0319,0.864,0.117,0.13,0.168,84.525,267067,4,59.30493,8
4,To All The Girls I Fuck Before,0.516,0.416,2.0,-10.222,1,0.113,0.66,0,0.157,0.946,71.642,187787,4,45.64159,7